*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 80px;
}
    
.header {
  font-size: 30px;
  margin: 20px auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  border: solid 1px #e5e7eb;
  padding: 15px 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  width: 450px;
}

.forgetText {
  text-align: center;
  font-size: 16px;
  margin-bottom: 15px;
  color: #555;
}

.forgetForm {
  margin-bottom: 15px;
}

.formEmail {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.inputWrapper {
  position: relative;
  min-height: 36px;
}

.formEmailInput {
  height: 25px;
  padding: 18px 15px;
  border-radius: 5px;
  border: solid 1px gray;
  outline: none;
  width: 100%;
}

.formEmailInput:hover {
  border: solid 1px var(--primary-color, #4f46e5);
}

.formEmailInput:not(:placeholder-shown) {
  border: solid 1px black;
}

.error {
  color: var(--primary-color, #ff0000);
  font-size: 12px;
  margin-top: 4px;
  min-height: 16px;
  display: block;
}

.success {
  color: green;
  font-size: 12px;
  margin-top: 4px;
  min-height: 16px;
  display: block;
}

.formButton {
  font-size: 14px;
  margin-top: 5px;
  padding: 12px;
  border-radius: 8px;
  background-color: var(--btn-background-color, #ccc);
  color: var(--btn-color, #333);
  border: solid 1px;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 100%;
}

.formButton.active {
  background-color: var(--primary-color, #4f46e5);
  color: white;
}

.formNavigateLogin {
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.formNavigateText {
  color: var(--btn-color, #333);
}

.formNavigateLink {
  text-decoration: underline;
  color: var(--primary-color, #4f46e5);
}